`<div class='blogposts'> 
    <h2>Lorem ipsum dolor sit amet </h2>
    <p>
        consectetur adipisicing elit. Eligendi, quasi impedit. Consequuntur non perspiciatis accusamus molestias rerum eaque cum officiis error dolores dolorum sunt perferendis enim placeat ad, recusandae eveniet.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta eos officiis ad reiciendis amet autem omnis, ipsa saepe non excepturi nam quo blanditiis ratione iusto cumque qui quasi consequuntur pariatur!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel distinctio exercitationem omnis numquam, iste possimus qui corrupti earum, ullam ea quae veniam consectetur id voluptate eos? Obcaecati, quidem quaerat!</p>
    <h2>Consectetur adipisicing elit. </h2>
    <p>
        Eligendi, quasi impedit. Consequuntur non perspiciatis accusamus molestias rerum eaque cum officiis error dolores dolorum sunt perferendis enim placeat ad, recusandae eveniet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla saepe nihil cupiditate fuga quam minima consequuntur harum, voluptate commodi reiciendis aliquam corporis? Repellendus ipsum, dolorum officia fuga nulla consequuntur beatae.
    </p>
    
    <br>
    <br>
    <br>
    <br>
    
   
 
    <a class="blogcredits" href="http://www.outofbounds.gr">website created by <span>outofbounds</span></a>
    </div>