
<div class="desktop address">
    info@secos.gr <br>
    <strong>T/F</strong> +30 2102409727 <br><br>
    
     
    44, Sofokli Peppa St. 13678 Acharnai Athens, Greece <br>
    <div class="social">
        <a href="https://www.facebook.com/Secosoliveoil" target="_blank"><img src="fb.png" alt="facebook"></a>
        <a href="http://twitter.com/secosoliveoil" target="_blank"><img src="twitter.png" alt="twitter"></a>
        <a href="https://plus.google.com/u/0/b/104734334495011363552/" target="_blank"><img src="gplus.png" alt="google plus"></a>
        <a href="http://instagram.com/secosoliveoil" target="_blank"><img src="ins.png" alt="instagram"></a>
        <a href="http://www.pinterest.com/secosoliveoil/" target="_blank"><img src="pin.png" alt="pinterest"></a>
    
    
    </div>
</div>    
<form id="contactform">
    <div class="fields">
        <div class="row">
            <label>Name</label><input type="text" name="name" />
        </div>
        <div class="row">
            <label>Email</label><input type="text" name="email" />
        </div>
    </div>
    <textarea name="message"></textarea><br>
</form>

<div class="row rightAlign sendContainer">
    <a href="javascript:onformpost()" class="submit sendbtn">Send</a>
</div>
<div class="mobile address">
    info@secos.gr <br>
    <strong>T/F</strong> +30 2102409727 <br><br>
    
    
    44, Sofokli Peppa St. 13678 Acharnai Athens, Greece <br>
    <div class="social">
        <a href="https://www.facebook.com/Secosoliveoil" target="_blank"><img src="fb.png" alt="facebook"></a>
        <a href="http://twitter.com/secosoliveoil" target="_blank"><img src="twitter.png" alt="twitter"></a>
    </div>
</div>    

 