button, input[type=button]{
    border: 0;
    background: #5F8DD3;
    color: white;
    font-size: 20px;
    padding: 3px 15px;
}

button{
    cursor: pointer;
}

button.small{
    font-size: 16px;
    padding: 0 2px;
    min-width: 24px;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0 7px;
}

label{
    font-size: 1.5em;
    padding: 0.5px 5px;
    border-radius: 5px;
}

input{
    font-family: inherit;
}

input[type="checkbox"]:not(.switch) + label::before,
input[type="radio"].classic + label::before
{
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	background-repeat:  no-repeat;
        background: #999999;    
        position: absolute;
        margin-left: -30px;
        margin-top: 0.5px;
}

input[type="radio"].classic + label::before
{
    border-radius: 30px;
}

input[type="checkbox"]:not(.switch):checked + label::before,
input[type="radio"].classic:checked + label::before,
input[type="radio"]:not(.classic):checked + label
{
	background: #5F8DD3;
}

input[type="radio"].classic + label::before
{
        background: #999999;
        
}

/* disabled form elements */
input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before
{
	-moz-opacity: .4;
	-webkit-opacity: .4;
	opacity: .4;
}

/* focused and active form elements */
input[type="checkbox"]:focus, input[type="checkbox"]:focus + label,
input[type="radio"].classic:focus, input[type="radio"]:focus + label 
{
    background: #dde;
}
input[type="checkbox"]:not(.switch):active + label::before,
input[type="radio"]:not(.switch):active + label::before,
input[type="radio"]:not(.classic):active + label
{
	background: #666;
}

input[type="checkbox"]:not(.switch):active:checked + label::before,
input[type="radio"]:not(.switch):active:checked + label::before
{
	background: #3D6BB1;
}


/*switch*/

input[type="checkbox"].switch{
    margin-right: 34px;
}
input[type="checkbox"].switch + label .track
{
	display: inline-block;
	width: 45px;
	height: 21px;
	vertical-align: middle;
	background-repeat:  no-repeat;
        background: #999999;    
        position: absolute;
        margin-left: -57px;
        margin-top: -3px;
        border: 2px solid black;
        padding: 2px;
        -all-transition: background 0.2s linear;
}

input[type="checkbox"].switch:checked + label .track
{
	background: #5F8DD3;
        -all-transition: background 0.2s linear;
}


/* focused and active form elements */
input[type="checkbox"].switch:active + label .track
{
	background: #666;
        -all-transition: background 0.2s linear;
}

input[type="checkbox"].switch:active:checked + label .track
{
	background: #3D6BB1;
        -all-transition: background 0.2s linear;
        
}

input[type="checkbox"].switch:checked + label::after{
    content: " on"
}

input[type="checkbox"].switch + label::after{
    content: " off"
}

.switch + label .track .throw{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 21px;
    background: #222;
    z-index: 2;
    left: 0;
    -all-transition: left 0.2s linear;
}

.switch:checked + label .track .throw{
    left: 25px;
    -all-transition: left 0.2s linear;
}

/*.switch + label .throw:active{
    width:10px;
    height:10px;
}*/

/* buttonrow */

.column input[type=radio],
.select input[type=radio]{
    position: absolute;
    margin-top: 3px;
    z-index: -1;
}
.column label, .select label{
    display: block;
}

.row input[type=radio] + label,
.column input[type=radio] + label,
.select input[type=radio] + label{
    background-color: #999;
    padding: 1px 20px;
    border-radius: 0;
}

.row input[type=radio] + label{
    margin-left: -31px;
}

.row>input[type=radio]:focus + label{
    border-top: 4px solid #bbb;       
    border-bottom: 4px solid #bbb;       
}

.column input[type=radio]:focus + label{
    border-left: 4px solid #bbb;       
    border-right: 4px solid #bbb;
    padding: 1px 16px;
}

.row input[type=radio]:first-child + label{
    border-radius: 10px 0 0 10px;
}

.column input[type=radio]:first-child + label{
    border-radius: 10px 10px 0 0;
}

.row input[type=radio] + label:last-child{
    border-radius: 0 10px 10px 0;
}
.column input[type=radio] + label:last-child{
    border-radius: 0 0 10px 10px;
}

.column input[type=radio]:not(:first-child) + label:not(:last-child),
.select:not(.horizontal) input[type=radio]:not(:first-child) + label:not(:last-child){
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.row input[type=radio]:not(:first-child) + label:last-child{
    border-left: 1px solid white;
}

.row input[type=radio]:not(:first-child) + label:not(:last-child)
.select.horizontal input[type=radio]:not(:first-child) + label:not(:last-child){
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.select{
    position: relative;
    min-height: 2em;
}

.select::after{
    content: '	▼';
    width: 15px;
    height: 15px;
    float: right;
    margin-top: -19px;
    margin-right: 10px;
    display: block;    
}

.select:hover::after{
    content: '';
}

.select.horizontal{
    white-space: nowrap;
}

.select.horizontal input + label{
    display: inline-block;
    vertical-align: top;
}

.select input[type=radio]:not(:checked), 
.select input[type=radio]:not(:checked) + label{
    display: none;
    width: 0;
    transition: width 2s;
}

.select:hover .options{
    width: 100%;
    position: absolute;
    z-index: 100;
}


.select:hover input[type=radio]:not(:checked), 
.select:hover input[type=radio]:not(:checked) + label{
    display: block;      
}

.select.horizontal:hover input[type=radio]:not(:checked), 
.select.horizontal:hover input[type=radio]:not(:checked) + label{
    display: inline-block; 
    width: auto;
    transition: width 2s;
}

textarea, input[type=text], input[type=password], input[type=date], select{
    border: 0;
    background-color: #eee;
    padding: 3px 7px;
    width: 200px;
    font-family: inherit;
    font-size: 17px;
}

select{
    background: #666;
    border: 0;
/*    -webkit-appearance: none;
    -moz-appearance: window;*/
    width: 215px;
}

option{
    border: 0;
    background: #eee;
}
