<div id="swipe">
    <div class="photos">
        <a rel="gal1" class="desktopOnly" href="photos/1.jpg"><img class="desktopOnly" src="photos/thumbs/1.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/2.jpg"><img src="photos/thumbs/2.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/3.jpg"><img src="photos/thumbs/3.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/4.jpg"><img src="photos/thumbs/4.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/5.jpg"><img src="photos/thumbs/5.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/6.jpg"><img src="photos/thumbs/6.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/7.jpg"><img src="photos/thumbs/7.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/8.jpg"><img src="photos/thumbs/8.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/9.jpg"><img src="photos/thumbs/9.jpg" alt="bottle" /></a>
        <a rel="gal1" href="photos/10.jpg"><img src="photos/thumbs/10.jpg" alt="bottle" /></a>
    </div>
</div>
<div class="maintext">
    The <em>secos</em> in Ancient Greece was the 
most sacred place of a temple, and at the same time it was used to refer to the wooden fence that protected the olive-tree groves. This is the most concrete proof that the cultivation of olive trees in Greece had always enjoyed respect and commitment.
<br> <br>
Today, we proudly offer the same respect and commitment while producing <em>secos handpicked organic extra virgin olive oil</em>. Respecting traditional methods of cultivation and harvesting, is the only way to ensure a product of the highest possible quality, the only product we would ever put our signature on.
<img class="sigs" src="sigs.png" alt="signatures"/>
</div>
<script>
    function historyRotation(mediaQueryList){
        if (mediaQueryList.matches) {
//            $(document).unbind('click.fb-start');
            setUpSwipe()
        }
        else {
            restoreFancyBox()
        }
    }
    
    mql.addListener(historyRotation);
    
    var fancyOptions = {margin: 10}
    var img= $('.photos img');
    if (mql.matches){
        setUpSwipe()
    } else {
        $('#swipe .photos a').fancybox(fancyOptions);
    }
    
    function setUpSwipe(){
//        img = $('.photos a img');
//        $('.photos a.desktopOnly').remove();
//        $("#swipe").remove();
//        $('<div id="swipe"><div class="photos"></div></div>').prependTo("#content")
//        $('.photos').html("")
        img.each(function(){
            if (!$(this).hasClass('desktopOnly')){
                $(this).attr('src',$(this).attr('src').replace('thumbs','thumbsmob'))
                $('.photos').append($(this));
            }
        })
        $('.photos a').remove();
//        $('.photos').wrap("<div id=swipe></div>");
        window.mySwipe = Swipe(document.getElementById('swipe'));
//    $('#swipe').Swipe();
    }
    function restoreFancyBox(){
        window.mySwipe.kill();
        $('.photos').html("");
        img.each(function(){
            $(this).attr('src',$(this).attr('src').replace('thumbsmob','thumbs'))
            $('.photos').append($(this));
            var desktop = "";
            if ($(this).hasClass("desktopOnly")) desktop = "desktopOnly"
            $(this).wrap('<a rel=gal class="'+ desktop +'" href="'+$(this).attr('src').replace('thumbs','')+'" /a>')
            $(this).removeAttr('style')
        })
        $('.photos a').removeAttr('style')
//        $('.photos>img').remove();
        $('#swipe .photos a').fancybox(fancyOptions);
    }
</script>
 

