        <div class="mobile">
            <div class="spinner">
                <span>0%</span>
            </div>
        </div>
        <div id="container">
            <div class="threesixty car">

                <ol class="threesixty_images"></ol>
            </div>
        </div>
  
  <div class="maintext">
      <em>Secos extra virgin</em> is a superior category olive oil obtained directly 
      from olive and solely by mechanical means. 
      This ensures it is of the highest quality and 
      its nutritional characteristics prove it.
      <br>
      The low acidity value (<strong>0.3%</strong>, one of the best in it's category) and low saturated fat percentage prove the
      unsurpassed quality of our olive oil.
      <br>
      <br>
      Did we say it again?
      <br>
      <em class="proud"> we are proud of it!</em>
        <div class="desktop">
            <div class="spinner">
                <span>0%</span>
            </div>
        </div>
      <div id="nouislider" class="desktop noUiSlider"></div>
  </div>

<button class="mobile more"> ... </button>
