<div class="storeWrap">
    <div class="storebuttons">
        <div class="bigbox productContainer" data-productname="Secos 500ml with Gift Box">
            <img class="mobile product" src="box500.png" alt="Gift Box 500ml"/>
             
            <div class="name">Secos 500ml with Gift Box </div> 
             <div class="onrequest">(on request)</div>
        </div>
        <div class="bigbottle productContainer" data-productname="Secos 500ml">
            <img class="mobile product" src="bot500.png" alt="Bottle 500ml"/>
             
            <div class="name">Secos 500ml </div>
            <div class="onrequest">(on request)</div>
        </div>
        <div class="smallbottle productContainer" data-productname="Secos 200ml">
            <img class="mobile product" src="bot200.png" alt="Bottle 200ml"/>
             
            <div class="name">Secos 200ml </div> 
             <div class="onrequest">(on request)</div>
        </div>
        <div class="smallbox productContainer" data-productname="Secos 200ml with Gift Box">
            <img class="mobile product" src="box200.png" alt="Gift box 200ml"/>
             
            <div class="name">Secos 200ml with gift box </div> 
             <div class="onrequest">(on request)</div>
        </div>
    </div>
 
</div>
<script>
    
    
    $('input[type=radio]').change(function(){
        var cost = 0;
        var shippingTotal = 0;
        $('.storebuttons input[type=radio]:checked').each(function(){
//            console.log($(this).attr('name'))
            var product = $(this).attr('name');
            var quantity = $(this).val();
            cost += prices[product]*quantity;
            var country = $('input[name=country]:checked').val();
            $(this).parents('.productContainer').children('.shipping').val(shipping[country][product][quantity]);
            shippingTotal += shipping[country][product][quantity];
        })
        $(".cost").html(cost.toFixed(2)).val(cost.toFixed(2));
        $("span.shipping").html(shippingTotal.toFixed(2));
        var totalCost = cost+shippingTotal;
        $(".totalCost").html(totalCost.toFixed(2));
        if (cost==0) $('button').attr('disabled','disabled')
        else  $('button').removeAttr('disabled')
    })
    
    $('form').submit(function(){
        $('form button').attr('disabled','disabled').html("processing...");
        var i = 1;
        $('.storebuttons input[type=radio]:checked').each(function(){
            var quantity = $(this).val();
            if (quantity!=0){
                var product = $(this).attr('name');
                var country = $('input[name=country]:checked').val();
                $('form').append('<input type="hidden" name="item_name_'+i+'" value="'+$(this).parents('.productContainer').attr("data-productname")+'" >')
                $('form').append('<input type="hidden" name="amount_'+i+'" value="'+prices[product]+'" >')
                $('form').append('<input type="hidden" name="quantity_'+i+'" value="'+quantity+'" >')
                $('form').append('<input type="hidden" name="shipping_'+i+'" value="'+shipping[country][product][quantity]+'" >')
                i++;
            }
        })
//        return false;
    })
    
    preload([
        'buttonHover.png',
        'button.png',
        'buttonPressed.png'//,
//        'button-disabled.png'
    ]);
</script>