/* 
    Document   : style
    Created on : Jul 4, 2013, 1:53:38 PM
    Author     : qwazix
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    margin: 0;
    padding: 0;
    background-size: 100%;
    width: 100%;
    font-family: Dosis, 'Ubuntu Condensed' ;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #cecece;
    transition: background-color 2s;
}

.blog {
    background: #fff;
}

.blog .fade {
    opacity:1 !important;
}


#content.fade{
    opacity: 0;
    transition: opacity 0.3s;
}
.blogposts {
    width: 83%;
    
      margin-top: 20px;
    position: relative; 
}

.blogtitle {
        font-size: 130%;
     
}
.post {
     
    margin-bottom: 20px;
     
    padding: 10px;
     
}

.blogimage{
    margin-right: 5px;
    width:23%;
}

.dateposted {
    float:left;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.background{
    width: 100%;
    position: absolute;
    z-index: -2;
    overflow: hidden;
    left: 0; top: 0;
}
.stripe{
    width: 100%;
    display: block;
    opacity: 0;
}
path{
   
}
.logoFallBack{
    display: none;
}
.wrapper{
    width: 76%;
    margin: 0 auto;
}
.current .stripe{
    z-index: 1;
}
a img{
    border: 0 none;
}
a{
    color: inherit;
    text-decoration: inherit;
}
#logo, #logoChromeFix{
    width: 13%;
    /*height: 140px;*/
    display: inline-block;
    margin-right: 1.6%;
    vertical-align: middle;
}
#logo{
    position: absolute;
    pointer-events: none;
}
.header{
    margin-top: 30px;
    position: relative;
    z-index: 444;
}
.header .title{
    display: inline-block;
    vertical-align: middle;
    color: #4d4d4d;
}
.header h1{
    font-family: "GFS Didot";
    font-weight: normal;
    font-size: 600%;
    margin: 0;
    line-height: 0.95em;
}
.header .menu{
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 200;
}
.subtitle{
    text-transform: uppercase;
    font-size: 170%;
    font-weight: 200;
    position: absolute;
    left: 40%;
    line-height: 1.1em;
    color: #4d4d4d;
}
#content{
    opacity: 1;
    transition: opacity 0.3s;
}

.contact{
    background-color: white;
}


input[type=text], textarea{
    border: 1px solid #ccc;
    font-family: Dosis;
    font-size: 120%;
    color: #666;
    
}
textarea{
    width: 40%;
    height: 200px;
    margin-top: 1%;
}
#contactform{
    margin-top: 5%;
}
.sendContainer{
    font-size: 160%;
}
.address{
    margin-top: 12%;
    margin-right: 5%;
    float: right;
    width: 30%;
    text-align: right;
    font-size: 120%;
}
.social{
    margin-top: 5%;
}
.social a{
    margin-left: 3%;
}
.social img{
    opacity: 0.7;
    width: 10%;
    display: inline-block;
    vertical-align: bottom;
    transition: opacity 3s;
}
.social img:hover{
    opacity: 1;
    transition: opacity 3s;
}

label{
    display: inline-block;
    width: 10%;
}

/*#myWindow{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}*/

.info #logo{
    /*visibility: hidden;*/
    opacity: 0;
    transition: opacity 2s;
}

.info .maintext{
    position: absolute;
    left: 38%;
    margin-top: 5%;
    width: 30%;
    min-width: 200px;
    font-size: 120%;
}
.info .proud{
    font-weight: 900;
    font-size: 130%
}
.history{
    background-color: #ddd
}
#swipe{
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
.history .maintext{
    display: inline-block;
    margin-left: 3%;
    width: 40%;
    min-width: 200px;
    font-size: 90%;
    margin-top: 3em;
}
.history .photos{
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    margin-top: 3em;
    text-align: right;
    width: 100%;
}
.history .photos img{
    height: 5em;
}
.history .maintext img{
    display: block;
    width: 50%;
    margin-top: 8%
}

button{
    background-image: url('button.png');
    width: 20%;
    display: block;
    background-size: 118%;
    background-position: center center;
    line-height: 2em;
    text-align: center;
    border: 0 none;
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: inherit;
    font-size: 110%;
    font-weight: 900;
}
button:hover{
    background-image: url('buttonHover.png');
}
button:focus{
    outline: none;
    background-image: url('buttonHover.png');
}
button:active{
    background-image: url('buttonPressed.png');
}
button:disabled{
    background-image: url('button-disabled.png');
}
.storeWrap{
    margin-top: 19.4em;
    height: 30%;
    position: absolute;
    width: 100%;
    left: 0
}
.storeWrap button{
    width: 9em;
    margin-top: 3.1%;
}
button::-moz-focus-inner{
    outline: none;
    border: 0;
}
.storebuttons{
    height: 3em;
}
.storeWrap .prices{
    margin-right: 2%;
    font-size: 110%;
    text-align: right;
}
.storeRight{
    margin-right: 13%;
    float: right;
}
.storeWrap .locationChooser{
    margin-left: 10%;
    margin-top: 1%;
}
.storeWrap .prices .total{
    font-size: 150%;
}
.storebuttons>div{
    position: absolute;
    display: inline-block;
    width: 14%;
    height: 30%;
    text-align: center;
    font-size: 120%
}
.storebuttons>div>button{
    width: 90%;
    display: block;
}
.storebuttons select{
    background: #eee;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0 none;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    vertical-align: middle;
}
.storebuttons select:focus{
    outline: none;
    background: #b8df68;
}
.storebuttons option{
    background: #ccc;
    
}
.storebuttons .name{
    display: inline-block;
    /*vertical-align: middle;*/
    width: auto;
}
.storebuttons .select{
    display: inline-block;
}
.thankText{
    text-align: center;
    margin-top: 3%;
}
.thankText a{
    text-decoration: underline;
}
.thankText h2{
    color: #4D4D4D;
}
/*.storebuttons label{
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
@-moz-document url-prefix(){
    .storebuttons label::before{
        content: "";
        width: 10%;
        height: 45%;
        position: absolute;
        display: block;
        background: #eee;
        margin-left: -18%;
        margin-top: 1%;
        pointer-events: none;
    }
    .storebuttons select:focus + label::before{
        background: #b8df68;
    }
    .storebuttons select:focus{
        outline: 2px solid #b8df68 !important;
        outline-offset: -5px ;
    }
}*/

.storebuttons .bigbox{
    width: 24%;
    margin-left: 13%
}
.storebuttons .bigbottle{
    margin-left: 42%
}
.storebuttons .smallbottle{
    margin-left: 55%;
}
.storebuttons .smallbox{
    width: 24%;
    margin-left: 67%;
}
.credits{
    color: #888;
    font-size: 80%;
    position: absolute;
    right: 3%;
    transition: color 2s;
}
.credits span{
    text-decoration: underline;
}
.credits:hover{
    color: #333;
    transition: color 2s;
}


.blogcredits {
    color: #888;
    font-size: 80%;
    position: absolute;
    right: -25%;
    transition: color 2s;
    bottom:5px;
}

.blogcredits span{
    text-decoration: underline;
}

.blog .credits {
   display: none;
  
}

.select{
    width: 2em;
    background: #ccc;
    position: relative;
    min-height: 1.4em;
    vertical-align: top;
}

.select.location{
    width: 8em;
}

.select.location label{
    padding-left: 4%;
    width: 96%;
}

.select .options{
    width: 100%;
}

.select label{
    width: 100%;
}

.select label{
    display: block;
    background: #ccc;
}

.select input[type=radio]{
    display: none;
}

/*.select input[type=radio]:not(:checked),*/ 
.select input[type=radio]:not(:checked) + label{
    display: none;
    transition: height 2s;
}

.select:hover .options{
    position: absolute;
    z-index: 100;
}


/*.select:hover input[type=radio]:not(:checked),*/ 
.select:hover input[type=radio]:not(:checked) + label{
    display: block;      
}

.select:hover input[type=radio]:checked + label{
    background: #b8df68;
}

.noturkey{
    display: none;
    font-size: 80%;
}

.pricetag{
    color: #4D4D4D;
    font-weight: 800;
    font-size: 120%;
    margin-top: 0.1em;
}

.moreThanks{
    margin-top: 17em;
}

.onrequest {
    font-size: 80%;
    font-weight: 100;
}


/* fancybox */


#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('js/libs/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	z-index: 1101;
	outline: none;
	display: none;
        margin: 20px;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('js/libs/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('js/libs/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}


#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('js/libs/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('js/libs/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

/*360.js*/
#container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0;
    z-index: -1;
}


#container .threesixty {

}
.spinner {
    position: absolute;
  width: 60px;
  display: block;
/*  margin: -15px 0 0 -30px;
  top: 80%;
  left: 40.5%;*/
  margin: 5% 0 0 0;
  height: 30px;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 100
}
.spinner span {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  display: block;
}
#container .threesixty .threesixty_images {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
#container .threesixty .threesixty_images img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
#container .threesixty .threesixty_images img.current-image {
  visibility: visible;
  width: 100%;
}
#container .threesixty .threesixty_images img.previous-image {
  visibility: hidden;
  width: 0;
}
#container .threesixty .nav_bar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11;
}
#container .threesixty .nav_bar a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  background: url(../../assets/images/sprites.png) no-repeat;
  text-indent: -99999px;
}
#container .threesixty .nav_bar a.nav_bar_previous {
  background-position: 0 -73px;
}
#container .threesixty .nav_bar a.nav_bar_next {
  background-position: 0 -104px;
}
#container .threesixty .nav_bar a.nav_bar_play {
  background-position: 0 0;
}
#container .threesixty .nav_bar a.nav_bar_stop {
  background-position: 0 -37px;
}



#nouislider{
    display: none;
    position: absolute;
    margin-top: 3%;
}
	.noUiSlider,
	.noUiSlider * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSlider {
/*		position: absolute;
                left: 30%*/
	}
	.noUiSlider a {
		position: absolute;
		z-index: 1;
	}
	.noUiSlider a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSlider.vertical a {
		width: 100%;
		bottom: 0;
	}
	.noUiSlider.horizontal a {
		height: 100%;
		right: 0;
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSlider:before,
	body.TOUCH,
	.noUiSlider div {
		-ms-touch-action: none;
	}
	.noUiSlider:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSlider.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSlider {
		border: 1px solid #908d84;
		border-radius: 3px;
	}
	.noUiSlider.connect a,
	.noUiSlider.connect.lower {
		background: #b2a98f;
	}
	.noUiSlider,
	.noUiSlider.connect.lower a {
		background: #d9d7cb;
		box-shadow: inset 0px 1px 7px #b6b4a8
	}
	.noUiSlider.disabled,
	.noUiSlider.disabled.connect.lower a {
		background: #ccc;
		box-shadow: none;
	}
	.noUiSlider div {
		height: 18px;
		width: 18px;
		border: 1px solid #99968f;
		border-radius: 3px;
		background: #efefe7;
	}
	.noUiSlider.disabled div {
		background: transparent;
	}
	.noUiSlider.horizontal {
		width: 300px;
		height: 10px;
	}
	.noUiSlider.horizontal div {
		margin: -5px 0 0 -9px;
	}
	.noUiSlider.vertical {
		width: 10px;
		height: 300px;
	}
	.noUiSlider.vertical div {
		margin: -9px 0 0 -5px;
	}
        
        .error{
            background-color: #a21;
        }

    /*mobile*/
        
    .mobileBackground{
        display: none;
    }        
    .mobile{
        display: none !important;
    }
        
    @media screen and (max-device-width:450px), (max-width:450px){
        /*dummy css so that js knows what mode we are in*/
        body{
            background-attachment: fixed;
        }
        .title{
            font-size: 300%;
            margin-top: -8%;
            
            position: relative;
        }
        
        .menuhandler {
            display: inline-block;
            position: absolute;
            right: 0;
            top:-9px;
        }
        
        .menuhandlercontainer {
            width:40px;
            height: 40px;

            float:right;
        }

        .parallelogram {
            height:20%;
            width: 100%;
            background: rgba(180, 180, 180, 0.7);
            margin-bottom: 10%;
        }
        
        
        #logo{
            position: absolute;
            width: 120%;
            z-index: -1;
            /*opacity: 0.15;*/
            left: -50%;
            top: -170%;
        }
        .wrapper{
            width: 86%;
        }
        #logoChromeFix{
            display: none;
        }
        .background{
            display: none !important;
        }
        .subtitle{
            text-align: right;
            font-size: 200%;
            right: 8.5%;
            left: auto;
            top: 38% !important;
        }
        #layer1{
            opacity: 0.15;
        }
        .header{
            margin-top: 10%;
            
        }
        .header a{
            display: inline-block;
        }
        .header .menu{
            font-size: 150%;
            margin-top: 6%;
            font-weight: 400;
            
        }
        
        .mobile.menu {
            background: none repeat scroll 0 0 #DDDDDD;
            font-size: 550%;
            font-weight: 400;
            margin-top: 6%;
            padding: 0;
            position: absolute;
            right: -30px;
            text-align: right;
            width: 125%;
            box-shadow: 1px 0 14px -8px;
            z-index: 33333;
            
        }
        
        
        .blogposts {
            width: 100%;
            margin-top: 16px;
            background: none;
            box-shadow: none;
        }
         
        .post {
           
        }
        
        .mobile.menu a {
            display: block;
            width: 100%;
                margin-bottom: 12px;
    margin-top: 12px;
        }
        
        .mobileBackground{
            position: absolute;
            display: block;
            top:0;
            left:0;
            z-index: -2;
            width: 100%;
        }   
        #content{
            font-size: 300%;
        }
        .history .maintext, .info .maintext{
            left: auto;
            margin-left: 0;
            margin-top: 10px;
            width: 85%;
        }
        .history .maintext{
            font-size: 120%;
        }
        .history .photos{
            margin-left: 0;
            width: 85%;
            text-align: left;
            overflow: hidden;
            position: relative;
        }
        .history .photos img{
            float:left;
            height: auto;
            position: relative;
            display: block;
        }
        
        #swipe {
            overflow: hidden;
            visibility: hidden;
            position: relative;
            width: 100%;
          }
        .history .a:active, .history .a:focus{
            border: 0;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
        .history .maintext .sigs{
            width: 70%;
            margin-bottom: 3%;
        }
        .desktop{
            display: none !important;
        }
        .mobile .spinner{
            position: absolute;
            top: 2%;
            right: 10%;
            display: block;
            width: 20%;
            height: 5%;
            padding: 0 0 3.5% 0;
            border-radius: 0.3em;
        }
        .mobile .spinner span{
            font-size: 100% !important;
        }
        .info .maintext{
            display: none;
            background: rgba(221,221,221,0.7);
            position: absolute;
            padding: 3%;
            margin: 0 -3% -3% -3%;
            z-index: 2;
        }
        .info{
            background-color: #ddd;
        }
        .info .header{
            background: rgba(221,221,221,0.5);
            
        }
        #container{
            width: 120%
        }
        .mobile{
            display: block!important
        }
        .product{
            width: 100%;
        }
        .storebuttons{
            height: auto;
            position: static;
        }
        .storeWrap .prices{
            margin-top: 20%;
        }
        .storeWrap{
            position: static;     
            margin-top: 0;
        }
        .storeWrap button{
            height: 3em;
            margin-top: 10%;
            font-size: 150%;
            width: 80%;
            line-height: 0.75em;
            float: none;
            margin: 5% auto;
        }
        .storebuttons>div{
            display: block;
            position: static;
            width: 100% !important;
            height: auto;
            font-size: 170%;
        }
        .storebuttons .bigbox{
            margin-left: 0
        }
        .storebuttons .bigbottle{
            margin-left: 0
        }
        .storebuttons .smallbottle{
            margin-left: 0;
        }
        .storebuttons .smallbox{
            margin-left: 0;
        }
        .store{
            background-color: #ddd;
        }
        .store #layer1{
            opacity: 0
        }
        .storebuttons>div>button{
            width: 70%;
            height: 3em;
            margin: 2% auto;
            font-size: 130%
        }
        .mobile.address{
            width: 99%;
            margin-bottom: 5%;
            float: none;
        }
        #contactform textarea{
            width: 100%;
            height: 8em;
        }
        #contactform label{
            font-size: 120%;
            width: 16%;
            margin-top: 3%;
        }
        .more{
            background: rgba(0,0,0,0.7);
            font-weight: 900;
            font-size: 300%;
            position: absolute;
            bottom: 5%;
            right: 5%;
            color: white;
            height: 1em;
            padding: 0;
            border-radius: 0.2em;
            padding-bottom: 0.2em;
            
            z-index: 10;
            line-height: 0.9em;
        }
        .more:hover, .more:active,  .more:focus{
            background: rgba(0,0,0,0.7);
        }
        .sendContainer{
            margin-top: 3%;
            font-size: 200%;
        }
        #contactform input[type=text]{
            font-size: 200%;
            width: 100%;
            padding: 0;
        }
        textarea{
            padding: 0;
        }
        .credits{
            font-size: 300%;
            display: block;
            margin-bottom: 2%;
            position: static;
            margin-left: 3%;
        }
        .info .credits{
            position: absolute;
            bottom: 1%;
            left: 3%;
        }
        .index .credits{
            display: none;
        }
        .history .maintext{
            position: static;
        }
        .store .credits{
            margin-left: 3%;
        }
        
 
        
        
        .blogcredits {
    bottom: 0;
    color: #888888;
    font-size: 100%;
    position: absolute;
    right: -2%;
    transition: color 2s ease 0s;
}


        .storeWrap .locationChooser{
            font-size: 150%;
            position: relative;
            top: -5em;
            margin-left: 5%;
        }
        .storeRight{
            margin-left: 5%;;
            font-size: 120%;
            float: none;
            position: relative;
            top: 4em;
        }
        
        .storeWrap .prices{
            text-align: left;
            margin-left: 0;
        }
        
        .moreThanks{
            margin-top: 3em;
            margin-bottom: 11em;
            font-size: 130%;
        }
  
        
        .mobmenu {
           opacity:0;
           height:0;
           overflow: hidden;
        }
        

    }
    
    @media screen and (max-device-height:490px), (max-height:490px){
        #container{
            width: 100%
        }
    
    }

@font-face {
    font-family: 'GFS Didot';
    src: url('gfsdidot-webfont.woff2') format('woff2'),
         url('gfsdidot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    
    
    
