<div class="thankText">
    <h2>Thank you for your purchase! </h2>
    
    <div class="moreThanks">
        You will receive a confirmation email soon. <br>
        If you have any questions regarding your purchase don't hesitate to 
        <a href="#contact">contact us</a>
    </div>
</div>